.flex > div {
    width: 20vw;
    height: 20vh;
    text-align: center;
    background-color: aqua;
    margin: 30px;
}

.flex > .item3 {
    width: 20vw;
    height: 20vh;
    text-align: center;
    background-color: lightsteelblue;
    /* position: relative; */
    /* top: 50px; */
    /* right: 100px; */
    /* left: 200px; */
    /* position: fixed; */
    /* position: absolute; */
    /* top: 0px; */
    /* bottom: 100px; */
    /* right: 100px; */
    /* left: 0px; */
    

}

.container {
    display: flex;
    flex: row;
    width: 100vw;
    height: 500vh;
    /* align-items: flex-end; */
}

.container > div {
    width: 400px;
    margin: 50px;
    position: sticky;
    bottom: 0;
}

.container > .item1 {
    height: 490vh;
    background-color: cadetblue;
}

.container > .item2 {
    height: 300vh;
    background-color: crimson;
}

.container > .item3 {
    height: 350vh;
    background-color: darkgoldenrod;
    /* position: sticky;
    bottom: 0px; */
}

img {
    display: block;
    margin: auto;
    z-index: 1;
    /* position: relative; */
    /* top: 200px; */
    position: sticky;
    top: 0px;
}

